In [1]:
import pandas as pd
import numpy as np
#import datetime
#from dateutil import parser
#%matplotlib inline

In [2]:
#reads csv as Pandas dataframe
baseball10 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\Retrosheet\\data\\parsed\\all2010.csv', header=None)
#adds year column
baseball10["year"]=2010

baseball11 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\Retrosheet\\data\\parsed\\all2011.csv', header=None)
#adds year column
baseball11["year"]=2011

baseball12 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\Retrosheet\\data\\parsed\\all2012.csv', header=None)
#adds year column
baseball12["year"]=2012

baseball13 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\Retrosheet\\data\\parsed\\all2013.csv', header=None)
#adds year column
baseball13["year"]=2013

baseball14 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\Retrosheet\\data\\parsed\\all2014.csv', header=None)
#adds year column
baseball14["year"]=2014

#merges years
frames = [baseball10,baseball11,baseball12,baseball13,baseball14]
baseball=pd.concat(frames)

#preview of data
baseball.head()

C:\Users\Keenan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (63,64,65,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,year
0,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,0,0,0,0,0,0,0,F,F,2010
1,ANA201004050,MIN,1,0,1,0,1,FX,0,0,...,0,0,0,0,0,0,0,F,F,2010
2,ANA201004050,MIN,1,0,2,1,1,CBX,0,0,...,0,0,0,0,0,0,0,F,F,2010
3,ANA201004050,MIN,1,1,0,3,2,BBCCFBFFFB,0,0,...,0,2,0,0,0,0,0,F,F,2010
4,ANA201004050,MIN,1,1,0,0,1,CX,0,0,...,0,2,0,0,0,0,0,F,F,2010

In [3]:
#makes copy of DF
baseballed = baseball
#columnsineed=[34,33,29,30,28,27,26]

#creates list of columns to drop, drops
dlist=[1,5,6,7,12,13,16,17,31,32]
for i in range(35,46):
    dlist.append(i)
for i in range(56,78):
    dlist.append(i)
for i in range(80,158):
    dlist.append(i)
baseballed=baseballed.drop(dlist,axis=1)

#renames columns
colnames = ["num","inning","home","outs","awscore","hoscore","batter","bathand","pitcher","pithand","pos2","pos3","pos4","pos5","pos6","pos7","pos8","pos9","run1st","run2nd","run3rd","event","leadoff","lineup","eventtype","fieldedby","hittype","bunt","foul","hitloc","errnum","errplayer1","td1","errplayer2","td2","first","last","year"]
baseballed.columns = [colnames]

#adds index and year columns
baseballed["index"] = range(len(baseballed))

In [4]:
#builds dictionary for col numbers and names for easy access
numlist = []
for i in range(0,158):
    numlist.append(i)

for i in dlist:
    if i in numlist:
        numlist.remove(i)

names = []
for i in colnames:
    if i == 'year':
        break
    else:
        names.append(i)      

dictionary = dict(zip(names,numlist))
print(dictionary)

{'num': 0, 'inning': 2, 'home': 3, 'outs': 4, 'awscore': 8, 'hoscore': 9, 'batter': 10, 'bathand': 11, 'pitcher': 14, 'pithand': 15, 'pos2': 18, 'pos3': 19, 'pos4': 20, 'pos5': 21, 'pos6': 22, 'pos7': 23, 'pos8': 24, 'pos9': 25, 'run1st': 26, 'run2nd': 27, 'run3rd': 28, 'event': 29, 'leadoff': 30, 'lineup': 33, 'eventtype': 34, 'fieldedby': 46, 'hittype': 47, 'bunt': 48, 'foul': 49, 'hitloc': 50, 'errnum': 51, 'errplayer1': 52, 'td1': 53, 'errplayer2': 54, 'td2': 55, 'first': 78, 'last': 79}

In [5]:
#creates columns for numerical day and month, as well as 3 char stadium strings and a double-header dummy
#remember to convert these into dummies for regression
nlist = []
stadium = []
month = []
day = []
dhlist = []
dh2list = []

for i in baseballed['num']:
    nlist.append(i)

for i in nlist:
    st = str(i[0]+i[1]+i[2])
    stadium.append(st)
    
    mo = str(i[7]+i[8])
    month.append(mo)
    
    d = str(i[9]+i[10])
    day.append(d)
    
    if i[11]==2:
        dhlist.append(1)
        dh2list.append(1)
    elif i[11]==1:
        dhlist.append(1)
        dh2list.append(0)
    else:
        dhlist.append(0)
        dh2list.append(0)
    
baseballed['stad']=stadium
baseballed['month']=month
baseballed['day']=day
baseballed['dh']=dhlist
baseballed['dh2']=dh2list
baseballed.head()

,num,inning,home,outs,awscore,hoscore,batter,bathand,pitcher,pithand,...,td2,first,last,year,index,stad,month,day,dh,dh2
0,ANA201004050,1,0,0,0,0,spand001,L,weavj003,R,...,N,T,F,2010,0,ANA,04,05,0,0
1,ANA201004050,1,0,1,0,0,hudso001,L,weavj003,R,...,N,F,F,2010,1,ANA,04,05,0,0
2,ANA201004050,1,0,2,0,0,mauej001,L,weavj003,R,...,N,F,F,2010,2,ANA,04,05,0,0
3,ANA201004050,1,1,0,0,0,aybae001,L,bakes002,R,...,N,F,F,2010,3,ANA,04,05,0,0
4,ANA201004050,1,1,0,0,0,abreb001,L,bakes002,R,...,N,F,F,2010,4,ANA,04,05,0,0

In [6]:
baseballed2=baseballed.drop(['num','pos2','pos3','pos4','pos5','pos6','pos7','pos8','pos9','pitcher','batter','event','hitloc'],axis=1)

In [7]:
#creates fblist, which is the game number of each entry
fb = []
fblist = []
fbnum = 0
for i in baseballed2['first']:
    fb.append(i)
for i in range(len(fb)):
    if fb[i]=='T':
        fbnum = fbnum+1
        fblist.append(fbnum)
    else:
        fblist.append(fbnum)
print(len(fblist))

#adds gamenum column for each entry, indexed at 1
baseballed2['gamenum']=fblist

955426

In [8]:
#drops first and last columns which are no longer needed, returns info
baseballed2=baseballed2.drop(['first','last'],axis=1)
baseballed2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 955426 entries, 0 to 190045
Data columns (total 30 columns):
inning        955426 non-null int64
home          955426 non-null int64
outs          955426 non-null int64
awscore       955426 non-null int64
hoscore       955426 non-null int64
bathand       955426 non-null object
pithand       955426 non-null object
run1st        303894 non-null object
run2nd        191334 non-null object
run3rd        99483 non-null object
leadoff       955426 non-null object
lineup        955426 non-null int64
eventtype     955426 non-null int64
fieldedby     955426 non-null int64
hittype       662987 non-null object
bunt          955426 non-null object
foul          955426 non-null object
errnum        955426 non-null int64
errplayer1    955426 non-null int64
td1           955426 non-null object
errplayer2    955426 non-null int64
td2           955426 non-null object
year          955426 non-null int64
index         955426 non-null int32
stad          955426 non-null object
month         955426 non-null object
day           955426 non-null object
dh            955426 non-null int64
dh2           955426 non-null int64
gamenum       955426 non-null int64
dtypes: int32(1), int64(15), object(14)
memory usage: 222.3+ MB

In [9]:
#replaces nulls with 0
baseballed2 = baseballed2.fillna(0)

In [10]:
#replaces baserunner names with 1s, keeps 0s
#these fields are now basically dummy vars

firlist = []
seclist = []
thilist = []

for i in baseballed2['run1st']:
    if i==0:
        firlist.append(0)
    else:
        firlist.append(1)

for i in baseballed2['run2nd']:
    if i==0:
        seclist.append(0)
    else:
        seclist.append(1)        
        
for i in baseballed2['run3rd']:
    if i==0:
        thilist.append(0)
    else:
        thilist.append(1)
        
runlist=firlist
for i in range(len(runlist)):
    if seclist[i]==1:
        runlist[i]=1
    if thilist[i]==1:
        runlist[i]=1

#print(len(runlist))        
        
baseballed2['run1st']=firlist
baseballed2['run2nd']=seclist
baseballed2['run3rd']=thilist
baseballed2['runners']=runlist

In [11]:
#converts leadoff to int dummy var
leadlist = []
llist = []

for i in baseballed2['leadoff']:
    llist.append(i)

for i in llist:
    if i == 'T':
        leadlist.append(1)
    else:
        leadlist.append(0)

baseballed2['leadoff']=leadlist
#print(baseballed2['leadoff'][:15])

In [12]:
#converts bunt to binary int
blist = []
buntlist = []

for i in baseballed2['bunt']:
    blist.append(i)

for i in blist:
    if i == 'F':
        buntlist.append(0)
    else:
        buntlist.append(1)

baseballed2['bunt']=buntlist
#print(baseballed2['bunt'][:15])

In [13]:
#converts foul to binary
flist = []
follist = []

for i in baseballed2['foul']:
    flist.append(i)

for i in flist:
    if i == 'F':
        follist.append(0)
    else:
        follist.append(1)

baseballed2['foul']=follist
#print(baseballed2['foul'][:15])

In [14]:
#bathand and pithand
blist = []
batlist = []

for i in baseballed2['bathand']:
    blist.append(i)

for i in blist:
    if i == 'R':
        batlist.append(0)
    else:
        batlist.append(1)

baseballed2['batleft']=batlist
#print(baseballed2['batleft'][:15])

plist = []
pitlist = []

for i in baseballed2['pithand']:
    plist.append(i)

for i in plist:
    if i == 'R':
        pitlist.append(0)
    else:
        pitlist.append(1)

baseballed2['pitleft']=pitlist

In [15]:
baseballed2=baseballed2.drop(['pithand','bathand'],axis=1)

<pre>What do I want to find here? What are my dependent variables?
-Did a throw error occur on the play?
-Did a drop error occur on the play?

Do I want to consider whether a prior error occurred on the play?
-It seems like it should be easy but also unlikely to be significant so lets circle back to it if there's time
</pre>

In [16]:
#errors
ethlist = []
edrlist = []
errlist = []

elist = []
for i in baseballed2['td1']:
    elist.append(i)
    
e2list = []
for i in baseballed2['td2']:
    e2list.append(i)
    
for i in elist:
    if i == 'T':
        errlist.append(1)
        ethlist.append(1)
        edrlist.append(0)
    elif i == 'D':
        errlist.append(1)
        edrlist.append(1)
        ethlist.append(0)
    else:
        errlist.append(0)
        edrlist.append(0)
        ethlist.append(0)

for i in range(len(errlist)):
    if e2list[i] =='T':
        ethlist[i] = 1
    elif e2list[i] =='D':
        edrlist[i] = 1

baseballed2['errthrow']=ethlist
baseballed2['errcatch']=ethlist
baseballed2['error']=errlist

In [17]:
baseballed2=baseballed2.drop(['td1','td2','errnum'],axis=1)

In [18]:
#hittype: F = flyball, L = linedrive, P = popup, G = grounder, 0 = nocontact
hlist = []
for i in baseballed2['hittype']:
    hlist.append(i)
    
grounder = []
linedrive = []
popup = []
flyball =[]

for i in hlist:
    if i == 'G':
        grounder.append(1)
        linedrive.append(0)
        popup.append(0)
        flyball.append(0)
    elif i == 'P':
        grounder.append(0)
        linedrive.append(0)
        popup.append(1)
        flyball.append(0)
    elif i == 'F':
        grounder.append(0)
        linedrive.append(0)
        popup.append(0)
        flyball.append(1)
    elif i == 'L':
        grounder.append(0)
        linedrive.append(1)
        popup.append(0)
        flyball.append(0)
    elif i == 0:
        grounder.append(0)
        linedrive.append(0)
        popup.append(0)
        flyball.append(0)

baseballed2['flyball']=flyball
baseballed2['grounder']=grounder
baseballed2['linedrive']=linedrive
baseballed2['popup']=popup

In [19]:
baseballed2=baseballed2.drop(['hittype'],axis=1)

In [20]:
#creates dummys for months
mlist =[]
for i in baseballed2['month']:
    mlist.append(i)

march =[]
april =[]
may =[]
june =[]
july =[]
august =[]
september =[]
october =[]    
    
def dummy(month):
    othermonths=[march,april,may,june,july,august,september,october]
    othermonths.remove(month)
    for i in othermonths:
        i.append(0)
    month.append(1)

for i in mlist:
    if i =='03':
        dummy(march)
    elif i =='04':
        dummy(april)
    elif i =='05':
        dummy(may)
    elif i =='06':
        dummy(june)
    elif i =='07':
        dummy(july)
    elif i =='08':
        dummy(august)
    elif i =='09':
        dummy(september)
    elif i =='10':
        dummy(october)
        
#for some reason it adds the first 0 for march to the april list, and presumably omits the first value in march, so...
april.pop(0)
march.insert(0,0)

baseballed2['march']=march
baseballed2['april']=april
baseballed2['may']=may
baseballed2['june']=june
baseballed2['july']=july
baseballed2['august']=august
baseballed2['september']=september
baseballed2['october']=october

In [21]:
#overwriting baseballed with current state of baseballed2 so that I can mess around deleting rows in baseballed2
baseballed=baseballed2

In [22]:
#recopies baseballed over to baseballed2
baseballed2=baseballed
baseballed2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 955426 entries, 0 to 190045
Data columns (total 42 columns):
inning        955426 non-null int64
home          955426 non-null int64
outs          955426 non-null int64
awscore       955426 non-null int64
hoscore       955426 non-null int64
run1st        955426 non-null int64
run2nd        955426 non-null int64
run3rd        955426 non-null int64
leadoff       955426 non-null int64
lineup        955426 non-null int64
eventtype     955426 non-null int64
fieldedby     955426 non-null int64
bunt          955426 non-null int64
foul          955426 non-null int64
errplayer1    955426 non-null int64
errplayer2    955426 non-null int64
year          955426 non-null int64
index         955426 non-null int32
stad          955426 non-null object
month         955426 non-null object
day           955426 non-null object
dh            955426 non-null int64
dh2           955426 non-null int64
gamenum       955426 non-null int64
runners       955426 non-null int64
batleft       955426 non-null int64
pitleft       955426 non-null int64
errthrow      955426 non-null int64
errcatch      955426 non-null int64
error         955426 non-null int64
flyball       955426 non-null int64
grounder      955426 non-null int64
linedrive     955426 non-null int64
popup         955426 non-null int64
march         955426 non-null int64
april         955426 non-null int64
may           955426 non-null int64
june          955426 non-null int64
july          955426 non-null int64
august        955426 non-null int64
september     955426 non-null int64
october       955426 non-null int64
dtypes: int32(1), int64(38), object(3)
memory usage: 309.8+ MB

In [23]:
tlist =[]
for i in baseballed2['eventtype']:
    tlist.append(i)

badindex =[]
for i in range(len(tlist)):
    if tlist[i]==3:
        badindex.append(0)
    elif tlist[i]==15:
        badindex.append(0)
    elif tlist[i]==16:
        badindex.append(0)
    else:
        badindex.append(1)
#print(len(badindex))
#print(badindex[:20])

baseballed2['keep']=badindex
baseballed2=baseballed2[baseballed2['keep']==1]

<pre>need to remove events where the ball isnt really
in play, consistent with thesis

event types: strikeout(3), intentional walk(15),
hit by pitch(16)


FUCKING DID IT
</pre>

In [24]:
baseballed2=baseballed2.drop(['keep'],axis=1)

<pre>Dependent variables: error, errthrow, errcatch

Non-binary variables: stad, month, day, year, errplayer1, errplayer2, inning,
                      outs, awscore, hoscore, lineup, fieldedby, gamnum

Binary variables: home, run1st, run2nd, run3rd, leadoff, bunt, foul, batleft,
                  pitleft, flyball, grounder, linedrive, popup, runnners

Other: index, eventtype
</pre>

In [25]:
dummystad = pd.get_dummies(baseballed2['stad'])
bbfinal = pd.concat([baseballed2,dummystad],axis=1)

In [26]:
bbfinal=bbfinal.drop(['index','stad'],axis=1)

In [27]:
dummyfield = pd.get_dummies(bbfinal['fieldedby'])
bbfinal = pd.concat([bbfinal,dummyfield],axis=1)

In [28]:
#copy without fielder==0
bbtest = bbfinal[bbfinal[0]!=1]
bbtest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637078 entries, 1 to 190045
Data columns (total 81 columns):
inning        637078 non-null int64
home          637078 non-null int64
outs          637078 non-null int64
awscore       637078 non-null int64
hoscore       637078 non-null int64
run1st        637078 non-null int64
run2nd        637078 non-null int64
run3rd        637078 non-null int64
leadoff       637078 non-null int64
lineup        637078 non-null int64
eventtype     637078 non-null int64
fieldedby     637078 non-null int64
bunt          637078 non-null int64
foul          637078 non-null int64
errplayer1    637078 non-null int64
errplayer2    637078 non-null int64
year          637078 non-null int64
month         637078 non-null object
day           637078 non-null object
dh            637078 non-null int64
dh2           637078 non-null int64
gamenum       637078 non-null int64
runners       637078 non-null int64
batleft       637078 non-null int64
pitleft       637078 non-null int64
errthrow      637078 non-null int64
errcatch      637078 non-null int64
error         637078 non-null int64
flyball       637078 non-null int64
grounder      637078 non-null int64
linedrive     637078 non-null int64
popup         637078 non-null int64
march         637078 non-null int64
april         637078 non-null int64
may           637078 non-null int64
june          637078 non-null int64
july          637078 non-null int64
august        637078 non-null int64
september     637078 non-null int64
october       637078 non-null int64
ANA           637078 non-null uint8
ARI           637078 non-null uint8
ATL           637078 non-null uint8
BAL           637078 non-null uint8
BOS           637078 non-null uint8
CHA           637078 non-null uint8
CHN           637078 non-null uint8
CIN           637078 non-null uint8
CLE           637078 non-null uint8
COL           637078 non-null uint8
DET           637078 non-null uint8
FLO           637078 non-null uint8
HOU           637078 non-null uint8
KCA           637078 non-null uint8
LAN           637078 non-null uint8
MIA           637078 non-null uint8
MIL           637078 non-null uint8
MIN           637078 non-null uint8
NYA           637078 non-null uint8
NYN           637078 non-null uint8
OAK           637078 non-null uint8
PHI           637078 non-null uint8
PIT           637078 non-null uint8
SDN           637078 non-null uint8
SEA           637078 non-null uint8
SFN           637078 non-null uint8
SLN           637078 non-null uint8
TBA           637078 non-null uint8
TEX           637078 non-null uint8
TOR           637078 non-null uint8
WAS           637078 non-null uint8
0             637078 non-null uint8
1             637078 non-null uint8
2             637078 non-null uint8
3             637078 non-null uint8
4             637078 non-null uint8
5             637078 non-null uint8
6             637078 non-null uint8
7             637078 non-null uint8
8             637078 non-null uint8
9             637078 non-null uint8
dtypes: int64(38), object(2), uint8(41)
memory usage: 224.2+ MB

In [60]:
zyx = 0
for i in bbfinal['error']:
    if i==1:
        zyx=zyx+1
gtlist = []
        
for i in bbfinal['gamenum']:
    gtlist.append(i)

abc = gtlist[637070]
        
print(zyx)
print(zyx/len(bbfinal))
print(abc)
print(abc/len(bbfinal))
print(zyx/abc)

7478
0.009803805890411858
10115
0.0132609650417
0.73929807217

# Let's get into some regressions!!!

In [55]:
import statsmodels.api as sm
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

C:\Users\Keenan\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [142]:
#group the independents by relevant groups
collist = (list(bbfinal.columns))

stadvars = []
for i in range(collist.index('ANA'),collist.index('WAS')):
    stadvars.append(collist[i])

deps = ['errthrow','errcatch','error']
weathervars = ['maxtemp','precip','windspeed']
monthvars = ['april','may','june','july','august','september','october']
fieldvars = [1,3,4,5,6,7,8,9]
hitvars = ['grounder','linedrive','popup']
gamevars = ['run1st','run2nd','run3rd','bunt','home']
scorevars = ['hoscore','awscore']
extravars = ['flyball','march',2,'inning','home','run1st','run2nd','run3rd','leadoff','year','dh','gamenum','dh2','batleft','pitleft','outs']
revisedstad = ['ARI','ATL','BAL','CHA','CIN','KCA','MIA','NYA','SDN','SEA','SFN','PHI','SLN','TBA']

In [143]:
#test summary
nana = hitvars+gamevars+fieldvars
X = bbtest[nana]
y = bbtest['error']

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  error   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     464.2
Date:                Thu, 14 Dec 2017   Prob (F-statistic):               0.00
Time:                        18:15:11   Log-Likelihood:             6.0672e+05
No. Observations:              637078   AIC:                        -1.213e+06
Df Residuals:                  637061   BIC:                        -1.213e+06
Df Model:                          16
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0122      0.001      9.960      0.000       0.010       0.015
grounder       0.0052      0.000     11.918      0.000       0.004       0.006
linedrive      0.0005      0.000      1.264      0.206      -0.000       0.001
popup         -0.0108      0.001    -17.153      0.000      -0.012      -0.010
run1st         0.0039      0.000     12.938      0.000       0.003       0.004
run2nd         0.0026      0.000      7.305      0.000       0.002       0.003
run3rd         0.0016      0.000      3.692      0.000       0.001       0.002
bunt           0.0170      0.001     20.038      0.000       0.015       0.019
home           0.0006      0.000      2.492      0.013       0.000       0.001
1              0.0056      0.001      4.558      0.000       0.003       0.008
3             -0.0073      0.001     -6.098      0.000      -0.010      -0.005
4             -0.0100      0.001     -8.527      0.000      -0.012      -0.008
5              0.0041      0.001      3.484      0.000       0.002       0.006
6             -0.0024      0.001     -2.018      0.044      -0.005   -6.75e-05
7             -0.0134      0.001    -11.051      0.000      -0.016      -0.011
8             -0.0138      0.001    -11.406      0.000      -0.016      -0.011
9             -0.0133      0.001    -10.926      0.000      -0.016      -0.011
==============================================================================
Omnibus:                   987710.152   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        303600728.953
Skew:                          10.278   Prob(JB):                         0.00
Kurtosis:                     107.951   Cond. No.                         41.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# part 2: bring in the weather data

In [33]:
weather1 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\weathers\\A.csv', header=None)
weather1.columns = weather1.iloc[0]
weather1=weather1.reindex(weather1.index.drop(0))

weather2 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\weathers\\B.csv', header=None)
weather2.columns = weather2.iloc[0]
weather2=weather2.reindex(weather2.index.drop(0))

weather3 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\weathers\\C.csv', header=None)
weather3.columns = weather3.iloc[0]
weather3=weather3.reindex(weather3.index.drop(0))

weather4 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\weathers\\D.csv', header=None)
weather4.columns = weather4.iloc[0]
weather4=weather4.reindex(weather4.index.drop(0))

weather5 = pd.read_csv('C:\\Users\\Keenan\\Desktop\\weathers\\E.csv', header=None)
weather5.columns = weather5.iloc[0]
weather5=weather5.reindex(weather5.index.drop(0))

weathers=[weather1,weather2,weather3,weather4,weather5]
weather = pd.concat(weathers)

In [34]:
#makes all weather 1 date strings 10 characters for later parsing
dlist=[]
newlist = []
for i in weather['DATE']:
    dlist.append(str(i))

for i in dlist:
    if len(i)==10:
        newlist.append(i)
    elif len(i)==9:
        if i[1]=='/':
            newlist.append(str('0'+i))
        elif i[4]=='/':
            newlist.append(str(i[0:3]+'0'+i[3:]))
    elif len(i)==8:
        newlist.append(str('0'+i[0:2]+'0'+i[2:]))
        
weather['DATE']=newlist

In [35]:
gudlist = []
slist =[]
for i in weather['STATION']:
    slist.append(i)

for i in range(len(slist)):
    if slist[i]=='USW00013743':
        gudlist.append(1)
    else:
        gudlist.append(0)

weather['check']=gudlist
weather=weather[weather['check']==1]

#weather.info()

In [36]:
weather=weather.drop(['TAVG','TOBS'],axis=1)
#weather.info()

In [37]:
#breaks down different DATE columns into year, month, and day lists
dlist = []
for i in weather['DATE']:
    dlist.append(str(i))
    
ylist = []
mlist =[]
daylist=[]

for i in dlist:
    if i[2]=='/':
        ylist.append(int(i[6:]))
        mlist.append(int(i[:2]))
        daylist.append(int(i[3:5]))
    else:
        ylist.append(int(i[0:4]))
        mlist.append(int(i[5:7]))
        daylist.append(int(i[8:10]))

weather['day']=daylist
weather['month']=mlist
weather['year']=ylist

In [38]:
weather=weather.drop(['check','DATE'],axis=1)

In [39]:
weather=weather.drop(['STATION'],axis=1)

In [40]:
#creates a list of date strings for comparison to weather
bblist = []

bylist = []
bmlist = []
bdlist = []

for i in bbfinal['year']:
    bylist.append(str(i))
for i in bbfinal['month']:
    bmlist.append(str(i))
for i in bbfinal['day']:
    bdlist.append(str(i))

for i in range(0,len(bbfinal)):
    bblist.append(str(bylist[i]+bmlist[i]+bdlist[i]))

In [41]:
datelist = set(bblist)

In [42]:
#creates a list of date strings for comparison to weather
welist = []

wylist = []
wmlist = []
wdlist = []

for i in weather['year']:
    wylist.append(str(i))
for i in weather['month']:
    i=str(i)
    if len(i)==1:
        wmlist.append(str('0'+i))
    elif len(i)==2:
        wmlist.append(i)
for i in weather['day']:
    i=str(i)
    if len(i)==1:
        wdlist.append(str('0'+i))
    elif len(i)==2:
        wdlist.append(i)

for i in range(0,len(weather)):
    welist.append(str(wylist[i]+wmlist[i]+wdlist[i]))
    
print(len(welist))

1225

In [43]:
weather['datestamp']=welist
bbfinal['datestamp']=bblist

In [44]:
weatherindex = []
for i in bblist:
    weatherindex.append(welist.index(i))

In [49]:
#creates lists for weather vars
wind = []
for i in weather['AWND']:
    wind.append(i)
prec = []
for i in weather['PRCP']:
    prec.append(i)
tmax = []
for i in weather['TMAX']:
    tmax.append(i)
tmin = []
for i in weather['TMIN']:
    tmin.append(i)
    
windlist=[]
preclist=[]
tminlist=[]
tmaxlist=[]
tavglist=[]

for i in weatherindex:
    windlist.append(float(wind[i]))
    preclist.append(float(prec[i]))
    tmaxlist.append(float(tmax[i]))
    tminlist.append(float(tmin[i]))
    tavglist.append(float((float(tmax[i])+float(tmin[i]))/2))

In [50]:
#creates DCbball for narrowing down to DC entries, adds weather
DCbball = bbfinal
DCbball['maxtemp']=tmaxlist
DCbball['mintemp']=tminlist
DCbball['precip']=preclist
DCbball['windspeed']=windlist
DCbball['avgtemp']=tavglist

In [51]:
#destroys all but washington events (down to 25,000)
DCbball=DCbball[DCbball['WAS']==1]

In [52]:
DCbball=DCbball.drop(stadvars)

NameError: name 'stadvars' is not defined

In [53]:
#group the independents by relevant groups
dcollist = (list(DCbball.columns))

deps = ['errthrow','errcatch','error']
weathervars = ['avgtemp','precip','windspeed']
monthvars = ['march','april','may','june','july','august','september','october']
fieldvars = [1,2,3,4,5,6,7,8,9]
hitvars = ['flyball','grounder','linedrive']
gamevars = ['outs','runners','lineup','bunt','foul','batleft','pitleft','flyball','grounder','linedrive','popup']
scorevars = ['hoscore','awscore']
extravars = ['inning','home','run1st','run2nd','run3rd','leadoff','year','dh','gamenum','dh2']

In [54]:
dvars = weathervars
X = DCbball[dvars]
y = DCbball['error']

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

NameError: name 'sm' is not defined

# let's try removing balls that aren't hit (ie 0==1)

In [56]:
DCtest = DCbball[DCbball[0]==0]

In [58]:
#group the independents by relevant groups
dcollist = (list(DCbball.columns))

deps = ['errthrow','errcatch','error']
weathervars = ['avgtemp','precip','windspeed']
monthvars = ['april','may','june','july','august','september','october']
fieldvars = [1,3,4,5,6,7,8,9]
hitvars = ['grounder','linedrive','popup']
gamevars = ['runners','lineup','bunt','foul']
scorevars = ['hoscore','awscore']
extravars = ['flyball','march',2,'inning','home','run1st','run2nd','run3rd','leadoff','year','dh','gamenum','dh2','batleft','pitleft','outs']

In [59]:
dvars = weathervars
X = DCtest[dvars]
y = DCtest['error']

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  error   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.3255
Date:                Fri, 15 Dec 2017   Prob (F-statistic):              0.807
Time:                        01:36:00   Log-Likelihood:                 18573.
No. Observations:               21324   AIC:                        -3.714e+04
Df Residuals:                   21320   BIC:                        -3.711e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0133      0.006      2.242      0.025       0.002       0.025
avgtemp    -3.288e-05   7.09e-05     -0.464      0.643      -0.000       0.000
precip        -0.0022      0.003     -0.855      0.392      -0.007       0.003
windspeed  -3.392e-05      0.000     -0.129      0.897      -0.001       0.000
==============================================================================
Omnibus:                    31965.781   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7769488.010
Skew:                           9.669   Prob(JB):                         0.00
Kurtosis:                      94.491   Cond. No.                         633.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.